h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 700;
	clear: both;
}

h1 {
	font-size: 2em;
	line-height: 1.25;
}

h2 {
	font-size: 1.75em;
	line-height: 1.25em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.25em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.25em;
}

h5 {
	font-size: 1.125em;
	line-height: 1.25em;
}

h6 {
	font-size: 1em;
	text-transform: uppercase;
}
