#tix-attendees {
	ul {
		margin: 0;
		padding: 0;
	}
	.tix-columns-3 {
		li {
			width: 100%;
		}
	}
	.tix-attendee-name {
		margin-left: 60px;
	}
}

@media screen and (min-width: 768px) {
	#tix-attendees {
		.tix-columns-3 {
			li {
				width: 50%;
			}
		}
	}
}

@media screen and (min-width: 1120px) {
	#tix-attendees {
		.tix-columns-3 {
			li {
				width: 33.333%;
			}
		}
	}
}
