.widget {
	padding: 10px;
	background: #ffffff;
	border-top: 5px solid $color__primary;

	ul, ol {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;

		ul, ol {
			padding-left: 1em;
		}

		a {
			text-decoration: none;
		}
	}
}

.widget-title {
	font-size: 1.125em;
	text-transform: uppercase;
	border-bottom: 1px solid $color__accent;
	margin: 0 0 0.875rem;
	line-height: 1.75;

	a {
		text-decoration: none;
		color: #ffffff;
	}
}

.sponsor-level {
	padding: 5px 10px;
	background-color: #ffffff;

	h4 {
		margin: 0.5em 0;
		color: $color__primary;
		font-size: 1.25em;
	}
}

.jetpack_subscription_widget {
	#subscribe-email {
		input {
			width: 100%;
			padding: 7px;
		}
	}
}
