.widget {
	ul {
		margin-left: 0;
	}
}

.widget-title {
	font-size: 1.125em;
	text-transform: uppercase;
	border-bottom: 1px solid $color__accent;
	margin: 0 0 0.875rem;
	line-height: 1.75;

	a {
		text-decoration: none;
		color: #ffffff;
	}
}

.sponsor-level {
	padding: 5px 10px;
	background-color: #ffffff;

	h4 {
		margin: 0.5em 0;
		color: $color__primary;
		font-size: 1.25em; 
	}
}

.jetpack_subscription_widget {
	#subscribe-email {
		input {
			width: 100%;
			padding: 7px;
		}
	}
}
